<div id="header">
  <div id="header-left-section">
    <nav id="header-navigation">
      <a class="header-navigation-page" routerLink="/">Home</a>
      <a class="header-navigation-page" routerLink="/subscriptions">Subscriptions</a>
      <!-- Add more navigation links for other pages -->
    </nav>
  </div>
  <div id="header-right-section">
    <input class="header-right-section-element" id="header-search" type="text" placeholder="Search">
    <select class="header-right-section-element" id="header-language-selector">
      <option value="en">English</option>
      <option value="fr">French</option>
      <!-- Add more language options as needed -->
    </select>
  </div>
</div>